<!DOCTYPE html>
<html>
  <head>
    <title><%= t('stomp_base.dashboard.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "stomp_base/application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="stomp-base-layout stomp-base-theme-<%= current_theme %>">
    <%= yield %>
  </body>
</html>